<ion-header>
  <ion-toolbar>
    <ion-title>list-employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Skeleton screen -->
  <div *ngIf="!employees">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>
  </div>
    <!-- Data to display after skeleton screen -->
  <div *ngIf="employees">
    <div *ngIf="currentDepartment">Employees of {{currentDepartment}}</div>
    <ion-card tappable *ngFor="let employee of employees">
      <div class="card-content">
        <div class="card-title">{{ employee.name }}</div>
      </div>
    </ion-card>
  </div>

  <ion-button (click)="addEmployee()">add employee</ion-button>

  <ion-button  *ngIf="currentDepartment" (click)="loadAllEmployees()">Load all Employees</ion-button>
</ion-content>
