<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!currentDepartment">All employees</ion-title>
    <ion-title *ngIf="currentDepartment">Employees of {{ currentDepartment }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Skeleton screen -->
  <div *ngIf="loadingEmployees">
    <div class="ion-padding custom-skeleton">
      <ion-list>
        <ion-item>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!-- Data to display after skeleton screen -->
  <div *ngIf="!loadingEmployees">
    <ion-list>
      <ion-item-sliding #item *ngFor="let employee of employees; let i = index">
        <ion-item>
          {{ employee.name }}
        </ion-item>
        <ion-item-options side="end">
            <button ion-button (click)="editEmployee(i)"> <ion-icon class="icon iconEditItem" name="create"></ion-icon></button>
          <button ion-button (click)="deleteEmployee(i)"> <ion-icon class="icon iconDeleteItem" name="trash"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-button  expand="full"  *ngIf="!currentDepartment"  (click)="addEmployee()">add employee</ion-button>

  <ion-button  expand="full"  *ngIf="currentDepartment" (click)="loadAllEmployees()"
    >Load all Employees</ion-button
  >
</ion-content>
