<ion-header>
  <ion-toolbar>
    <ion-title>list-department</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Skeleton screen -->
  <div *ngIf="!departments">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>
  </div>
  <!-- Data to display after skeleton screen -->
  <div *ngIf="departments">
    <ion-card tappable *ngFor="let departament of departments; let i = index">
      <div class="card-content" (click)="loadEmployeesByDepartment(i)">
        <div class="card-title">{{ departament.description }}</div>
      </div>
    </ion-card>
  </div>
  <ion-button (click)="addDepartment()">add department</ion-button>
  <ion-button (click)="goToEmployeesPage()">Employees</ion-button>
</ion-content>
