<form *ngIf="employeeForm" [formGroup]="employeeForm" (ngSubmit)="submit()">
  <ion-list>
    <ion-item>
      <ion-label floating>Name:</ion-label>
      <ion-input formControlName="name" type="text" ></ion-input>
    </ion-item>
    <ion-item *ngIf="employeeForm.get('name').errors && employeeForm.get('name').dirty">
      <p color="danger" ion-text *ngIf="employeeForm.get('name').hasError('required')"><ion-text color="danger">This field is required</ion-text></p>
    </ion-item>
    <ion-item>        
      <ion-label floating>Surname:</ion-label>
      <ion-input formControlName="surname" type="text" ></ion-input>
    </ion-item>
    <ion-item>        
      <ion-label floating>Email:</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="employeeForm.get('email').errors && employeeForm.get('email').dirty">
      <p color="danger" ion-text *ngIf="employeeForm.get('email').hasError('required')"><ion-text color="danger">This field is required</ion-text></p>
      <p color="danger" ion-text *ngIf="employeeForm.get('email').hasError('pattern')"><ion-text color="danger">You must enter a valid email</ion-text></p>
    </ion-item>
  </ion-list>
  <div padding>
    <ion-button  expand="full" type="submit" [disabled]="!employeeForm.valid">Save</ion-button >
  </div>
</form>